
  <div class="jumbotron">
    <h1>Bettings</h1>
    <p id="time"></p>
  </div>
  <div class="panel panel-default">
  </div>


{{# each res}}
<section class="panel-group1" >

      <h1> {{this.[0].user}} </h1>
      <div class="form-control1">
    <p>Bets per game : {{this.[0].bet}}</p>
  </div>
  <div class="form-control1">
    <p>Results per game : {{this.[0].result}}</p>
  </div>
  <div class="form-control1">
    <p>Winner of EM 2016 : {{this.[0].winner}}</p>
  </div>
  <div class="form-control1">
    <br1/>
  </div>
</section>
{{/each}}
