<!-- views/home.handlebars -->

<!--Om användaren är inloggad visas koden nedan-->
{{#if user}}

  <div class="jumbotron">
    <h1>Add New Bet</h1>
</div>



<!--formulär-->
<h1> Create new bet</h1>
{{# each res}}
  <div class ="panel-group">
<p>Game {{this.[0].number}} : {{this.[0].gameName}}</p>
</div>
  <form method="POST" action="/bet" class="small-12 columns medium-6">

      <div class="form-control1">
      <label>1 | X | 2</label>
      <input type="text" class="text-group" placeholder="1 | X | 2" name="number1"/>
    </div>
    <div class="form-control1">
    <label>Result : </label>
    <input type="text" class="text-group" placeholder="0-0" name="numberX"/>
  </div>
  </form>
{{/each}}
<div class="form-group">
    <div class=" col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-6">
         <button type="submit" value="Create new event" id="submit" class="btn btn-success">Submit</button>
    </div>
</div>

<script>
document.getElementById("submit").onclick = function() {submitFunction()};
function submitFunction() {
    document.getElementById("submit");
    alert("Event created");
}
</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/></link>
<script src="">
<!--Om användaren inte är inloggad visas denna-->
{{else}}

{{/if}}
